<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>reveal.js – Amplicaciones multichat</title>

		<meta name="description" content="Amplicaciones multichat">
		<meta name="author" content="Liliana Villar Iglesias">

		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/sky.css" id="theme">

		<!-- Theme used for syntax highlighting of code -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<section>
					<h1>Ampliaciones</h1>
					<h5>Descripción de las ampliaciones realizadas para multichat</h5>
					<p>
						<small>Created by <strong>Liliana Villar Iglesias</strong> / Para ver la web <a href="https://sleepy-castle-40837.herokuapp.com/multichat">pinche aquí</a></small>
					</p>
				</section>

				<section>
					<section>
						<h2>Ampliación I</h2>
						<p>
							Gestionar más datos de cada uno de los usuarios.
						</p>
						<a href="#" class="navigate-down">
							<img width="150" height="150" class="img-without-border" data-src="http://icon-icons.com/icons2/936/PNG/512/angle-arrow-down_icon-icons.com_73683.png" alt="Down arrow">
						</a>
					</section>
					<section>
						<h2>Primero paso</h2>
						<p>El primer paso es añadir los nuevos campos al<strong> modelo</strong></p>
						<p><span class="fragment highlight-red">Apellidos</span> | <span class="fragment highlight-blue">Edad</span> | <span class="fragment highlight-green">Teléfono</span></p>
						<pre><code class="hljs" data-trim>
						var userSchema = new mongoose.Schema({
						    ...
						    surnames: {
						        type: String,
						        required: true
						    },
						    age: {
						        type: Number,
						        required: true
						    },
						    phone: {
						        type: String,
						        required: true
						    },
						    ...
						});
						</code></pre>
					</section>
					<section>
						<h2>Segundo paso</h2>
						<p>Modificamos el objeto que se almacena en <strong>sesión</strong></p>
						<pre><code class="hljs" data-trim>
							userSchema.methods.generateJwt = function() {
							    var payload = {
							        sub: {
							            _id: this._id,
							            userName: this.userName,
							            name: this.name,
							            surnames: this.surnames,
							            age: this.age,
							            phone: this.phone
							        },
							        iat: moment().unix(),
							        exp: moment().add(14, "days").unix()
							    };
							    return jwt.encode(payload, process.env.JWT_SECRET);
							};
						</code></pre>
					</section>
					<section>
						<h2>Tercer paso</h2>
						<p>Incluimos en el <strong>controlador</strong> encargado del registro de usuarios los nuevos datos</p>
						<pre><code class="hljs" data-trim>
							module.exports.register = function(req, res) {
						    if(... || !req.body.surnames || !req.body.age || !req.body.phone) {
						        utils.sendJSONresponse(res, 400, { "message": "All fields required"  });
						        return;
						    }
						    var user = new User();
						    ...
						    user.surnames = req.body.surnames;
						    user.age = req.body.age;
						    user.phone = req.body.phone;
						    user.save(function(err) {
						        ...
						    }
							}
						</code></pre>
					</section>
					<section>
						<h2>Cuarto paso</h2>
						<p>Puesto que queremos que esta información también pueda ser modificada, debemos modificar el <strong>controlador </strong> encargado de la edición del perfil.</p>
						<pre><code class="hljs" data-trim>
							module.exports.profile = function(req, res) {
						    ...
						        else if (docs.length > 0) {
						            var user = docs[0]; //user exists
						            ...
						            if (req.body.surnames != user.surnames)
						                user.surnames = req.body.surnames;
						            if (req.body.age != user.age)
						                user.age = req.body.age;
						            if (req.body.phone != user.phone)
						                user.phone = req.body.phone;
						            User.update({userName: req.body.userName}, user, function(err) {
						                ...
						            });
						        ...
						    })
						};
						</code></pre>
					</section>
					<section>
						<h2>Quinto paso</h2>
						<p>El último paso de modificar tanto la vista del registro como la de perfil de usuario para incluir los nuevos campos, así como realizar las validaciones</p>
						<p><small>La edad es un <strong>input</strong> de tipo number con valores mínimos y máximos</small></p>
						<pre><code class="hljs" data-trim>
							input.form-control(type='number' id='age' name='age'
							placeholder='#{lang.ageEnter}' ng-model="register.age"
							required ng-minlength='2' ng-maxlength='2'
							min='18'  max='99')
						</code></pre>
						<p><small>Para validar el teléfono se ha utiliado una <strong>expresión regular</strong></small></p>
						<pre><code class="hljs" data-trim>
							input.form-control(type='text' id='phone' name='phone'
							placeholder='#{lang.phoneEnter}' ng-model="register.phone"
							required ng-minlength='9' ng-maxlength='9' ng-pattern="/^[0-9]*$/")
						</code></pre>
					</section>
					<section>
						<h2><small style="vertical-align:middle;">Ampliación I :</small> Resultado</h2>
						<img width="50%" height="50%" data-src="img/registro.PNG" alt="Registro" class="fragments fragment grow img-without-border">
					</section>
			    </section>
                <section>
					<section>
						<h2>Ampliación III</h2>
						<p>
							Adiciones a la funcion del dibujo corporativo.
						</p>
						<a href="#" class="navigate-down">
							<img width="150" height="150" class="img-without-border" data-src="http://icon-icons.com/icons2/936/PNG/512/angle-arrow-down_icon-icons.com_73683.png" alt="Down arrow">
						</a>
					</section>
                    <section>
						<h2>Ampliación III</h2>
                        <p>A continuación, se mostrarán los pasos a seguir para implementar los siguientes aspectos:</p>
                        <ul>
                            <li class="fragment highlight-red">Añadir nuevas figuras</li>
                            <li class="fragment highlight-green">Eliminar figuras individuales</li>
                            <li class="fragment highlight-blue">Crear una imagen a partir de las figuras</li>
                        </ul>
					</section>
                    <section>
                        <h2>Añador métodos</h2>
                        <p>En el fichero <strong>drawingManagement.js</strong> se añadirán cuatro 5 métodos.</p>
                        <p>
                            <small>Estos métodos, posteriormente, serán añadidos al <strong>controlador</strong> correspondiente, <strong>drawingCtrl.js</strong> para ser llamados a la hora de utilizar los botones asociados.</small>
                        </p>
                        <a href="#" class="navigate-down">
                            <img width="150" height="150" class="img-without-border" data-src="http://icon-icons.com/icons2/936/PNG/512/angle-arrow-down_icon-icons.com_73683.png" alt="Down arrow">
                        </a>
                    </section>
                    <section>
                        <h2>Primer método</h2>
                        <p><small>Se crea el método para añadir una figura con forma de corazón.</small></p>
                        <pre><code class="hljs" data-trim>
                            this.addHeart = function () {
                                var obj = {
                                points: [
                                        { x: 10, y: 80 },
                                        { x: 10, y: 110 },
                                        { x: 30, y: 130 },
                                        { x: 60, y: 130 },
                                        { x: 80, y: 110 },
                                        { x: 100, y: 130 },
                                        { x: 130, y: 130 },
                                        { x: 150, y: 110 },
                                        { x: 150, y: 80 },
                                        { x: 80, y: 10 }
                                    ],
                                options: {
                                    fill: 'pink',
                                    left: 200,
                                    top: 200,
                                    angle: 180
                                    }
                                };
                                sendData('Heart', obj, 'add');
                            };
                        </code></pre>
                        <p><small>Se añade una nueva condición al método <strong>addObject</strong></small></p>
                   </section>
                   <section>
                        <h2>Segundo y Tercer método</h2>
                        <p><small>Se crea el método envía la informacion necesaria para elimnar una figura individual.</small></p>
                        <pre><code class="hljs" data-trim>
                             this.clearFigure = function (type, info) {
                                sendData('', '', 'clearFigure');
                            };
                        </code></pre>
                        <p><small>Se crea el método que elimina las figuras por individual.</small></p>
                        <pre><code class="hljs" data-trim>
                            this.clearObject = function(type, info){
                                if (canvas.getActiveObject() == null){
                                    growl.error('Please, select a figure',{
                                        title: 'Error'
                                    });
                                } else{
                                    canvas.remove(canvas.getActiveObject());
                                }
                            };
                        </code></pre>
                    </section>
                    <section>
                        <h2>Cuarto y Quinto método</h2>
                        <p><small>Se crea el método que envía la informacion necesaria para crear la imagen de las figuras.</small></p>
                        <pre><code class="hljs" data-trim>
                            this.sendDownload = function(type, info){
                                sendData('', '', 'download');
                            }
                        </code></pre>
                        <p><small>Se crea el método que crea la imagen.</small></p>
                        <pre><code class="hljs" data-trim>
                             this.download = function(type, info){
                                if (!canvas.isEmpty()) {
                                    window.open(canvas.toDataURL('png'));
                                }else{
                                    growl.error('Please, enter some figure',{
                                        title: 'Error'
                                    });
                                }
                            };
                        </code></pre>
                   </section>
                    <section>
                        <h2>Añadir botones</h2>
                        <p>Se añade los nuevos botones para</p>
                        <p><span class="fragment highlight-red">Add heart</span> | <span class="fragment highlight-blue">Clear figure</span> | <span class="fragment highlight-green">Download</span></p>
                        <pre><code class="hljs" data-trim>
                            button.btn.btn-default(ng-click='addHeart()') #{lang.addHeart}
                            button.btn.btn-default(ng-click='clearFigure()') #{lang.clearFigure}
                             button.btn.btn-default(ng-click='sendDownload()') #{lang.download}
                        </code></pre>
                   </section>
                   <section data-background-video="img/video.webm" data-background-size="100">
                        <h2>Demostración final</h2>
                   </section>
				</section>
            <section>
                <h1 class="fragment shrink">¡Gracias por</h1>
                <h3 class="fragment grow">su anteción!</h3>
            </section>

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// More info https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'zoom', // none/fade/slide/convex/concave/zoom

				// More info https://github.com/hakimel/reveal.js#dependencies
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
